tml, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

@font-face {
  font-family: 'sansation_lightregular';
  src: url('../fonts/sansation_light-webfont.eot');
  src: url('../fonts/sansation_light-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/sansation_light-webfont.woff2') format('woff2'),
       url('../fonts/sansation_light-webfont.woff') format('woff'),
       url('../fonts/sansation_light-webfont.ttf') format('truetype'),
       url('../fonts/sansation_light-webfont.svg#sansation_lightregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'adam.cg_proregular';
  src: url('../fonts/adam.cg_pro-webfont.eot');
  src: url('../fonts/adam.cg_pro-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/adam.cg_pro-webfont.woff2') format('woff2'),
       url('../fonts/adam.cg_pro-webfont.woff') format('woff'),
       url('../fonts/adam.cg_pro-webfont.ttf') format('truetype'),
       url('../fonts/adam.cg_pro-webfont.svg#adam.cg_proregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

body {
  background-color: #eee;
  color: #333;
  font-family: 'Lato', sans-serif;
}

h2 {
  color: #294888;
  margin-bottom: 5px;
  font-weight: bold;
}

#content {
  width: 1100px;
  margin: 100px auto;
  text-align: left;
}

.button {
  font-family: 'adam.cg_proregular';
  background: #333;
  color: #aaa;
  display: inline-block;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  margin: 5px;
  padding: 7px;
  font-size: 0.6em;
  text-decoration: none;
  border: none;
  outline: none;
}

.button.selected {
  background: #294888;
}

.button:hover {
  background: #294888;
  cursor: hand;
}

#content ul#nav, #content ul#applications {
  list-style: none;
  display: inline-block;
  vertical-align: top;
}

#nav {
  width: 125px;
}

#nav li {
  background: #ddd;
  padding: 10px 15px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  margin-bottom: 5px;
}

#nav li.selected {
  font-weight: bold;
}

#nav a {
  text-decoration: none;
}

#applications {
  width: 950px;
  padding-left: 20px;
}

#applications li.application {
  font-size: 1.25em;
  background: #ddd;
  margin-bottom: 5px;
  position: relative;
  display: none;
}

#applications.pending li.pending,
#applications.approved li.approved,
#applications.declined li.declined {
  display: block;
}

#applications .application div.actions {
  float: right;
  top: 10px;
  right: 10px;
  position: absolute;
}

#applications .questionList {
  list-style: none;
  padding: 15px;
}

#applications .questionList li:not(:first-child) {
  display: none;
  margin-top: 25px;
}

#applications .questionList li:nth-child(2) {
  border-top: 1px solid #aaa;
  margin-top: 10px;
  padding-top: 25px;
}

#applications .questionList li:first-child > * {
  display: inline-block;
  cursor: pointer;
}
